@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');


:root{
    --primary: rgb(243, 243, 243);
    --danger: rgb(119, 46, 46);
    --cprimary: rgb(50, 110, 201);
    --color: #000000;
    --sidebar_width: 500px
}

body{
    width: 100vw;
    height: 100vh;
    letter-spacing: 0.6px;
}

.input{
    font-family: 'Nunito', sans-serif;

}

#heading {
    text-align: center; 
    color: var(--color);
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

#map {
    z-index: 0;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

#sidebar{
    z-index: 0;
    position: absolute;
    height: auto;
    overflow: visible;
    left: calc( (-1 * var(--sidebar_width)) + 30px );
    width: var(--sidebar_width); 
    background-color: var(--primary);
    transition: left 0.2s;
}

#sidebar:hover{
    left: 0px;
}

#navigate {
    position: absolute;
    bottom: -200px;
    left: 30px;
    
}

#progressBar {
    height: 10px; 
    width: 0%;
    background-color: rgb(122, 174, 230);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card {
    background-color: var(--primary);
    padding: 10px;
}

#searchBtn {
    margin: 15px;
    background-color: var(--cprimary);
    letter-spacing: 1px;
    color: white;
    font-family: 'Nunito', sans-serif;


}

#reset {
    margin: 15px 8px;
    background-color: var(--danger);
    letter-spacing: 1px;
    color: white;
    font-family: 'Nunito', sans-serif;


}

input {
    margin: 10px 5px;
}

.navigation_animation{
    animation-name: navigate;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.progressBar_animation {
    animation-name: progress;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes navigate {
    0% {bottom: -200px;}
    20% {bottom: 20px;}
    90% {bottom: 20px;}
    100% {bottom: -200px;}
  }

  @keyframes progress {
      from {width: 0%;}
      to {width: 100%;}
  }